html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    
   
  }
  
.hidden{
  display: none !important ;
}
p{
  color: white;
  font-size: 20px;
}


  /* Defina a largura e a cor da barra de rolagem */
::-webkit-scrollbar {
  width: 15px;
  background-color: #202123;
}

/* Defina a cor do track da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #202123;
}

/* Defina a cor e o estilo do thumb da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #40414F;
  border-radius: 10px;
  border: 3px solid #202123;
}

/* Mudar a cor do thumb quando o mouse estiver em cima */
::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
  }


  #login-screen {
    margin: 0;
    padding: 0;
    /* background-image: url(images/6228351.jpg); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1923%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1924%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1285.2555881028075 442.51523590753345L1305.6378072068562 337.65780876141275 1200.7803800607355 317.275589657364 1180.3981609566868 422.13301680348474z' fill='rgba(5%2c 35%2c 69%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M107.77524667870941 472.48952768167607L80.1612379319912 562.8108804977232 170.48259074803843 590.4248892444415 198.09659949475662 500.10353642839425z' fill='rgba(5%2c 35%2c 69%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M857.6759976207519 356.45044992326365L967.6258593456369 396.46892685280653 1007.6443362751797 286.5190651279215 897.6944745502948 246.50058819837864z' fill='rgba(5%2c 35%2c 69%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M501.814%2c182.557C520.609%2c183.611%2c541.701%2c180.995%2c551.457%2c164.895C561.451%2c148.402%2c554.595%2c128.028%2c544.99%2c111.305C535.337%2c94.498%2c521.188%2c77.898%2c501.814%2c78.458C483.031%2c79.001%2c471.187%2c96.89%2c462.755%2c113.683C455.353%2c128.424%2c452.825%2c145.471%2c460.962%2c159.819C469.202%2c174.348%2c485.137%2c181.622%2c501.814%2c182.557' fill='rgba(5%2c 35%2c 69%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M278.9563585086591 19.397855925427656L174.35297553028883-51.15801678401319 208.40048579921825 124.00123890379791z' fill='rgba(5%2c 35%2c 69%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1359.2214360433727 259.96115325246467L1388.7477061472757 350.8336686654369 1450.093951456345 230.4348831485616z' fill='rgba(5%2c 35%2c 69%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1923'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1924'%3e%3cstop stop-color='rgba(83%2c 79%2c 152%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(39%2c 27%2c 91%2c 1)' offset='0.89'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #login-principal {
    background-color:rgba(38, 41, 72, 0.8);
    width: 420px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1.5%;
  }
  


#chat-screen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
    display: flex;
  }

  
  /*DIV LATERAL ESQUERDA*/
  #sidebar {
    /*position: fixed;*/
    top: 0;
    left: 0;
    bottom: 0;
    width: 16.5%;
    height: 100vh;
    color: white;
    background-color: #202123;
    box-shadow: 0 0 10px rgba(19, 8, 40, 0.6);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    /*margin-right: auto;*/
    z-index: 1;
    
  }
  
  #sidebar ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  #sidebar li {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
  
  #sidebar a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    text-align: left;
    font-size: 14px;
  }
  
  #sidebar a:hover {
    background-color: #343541;
    border-radius: 5px;
  }
  
  /*botoes da div lateral esquerda*/
  #new-chat {
    width: 100%;
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #202123;
    color: #fff;
    border: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #555659;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
  }
  
  #new-chat:hover {
    background-color: #343541;
  }
  
  #new-chat i {
    margin-right: 10px;
    color: white;
    
  }
  
  #old-chats {
    overflow-y: auto;
  }
  
  /*parte inferior da sidebar*/
  #bottom-div-sidebar {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: auto;
  }
  
  .user-btn {
    width: 100%;
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #202123;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;   
  /* text-align: left; */
  }
  .user-btn i{
    color: #ececf1; 
    padding-right: 10px;
    text-align: left;

  }

  .user-btn:hover{
    background-color: #343541;
    border-radius: 5px;
  }

  .user-options {

    display: none;
    position: absolute;   
    background-color: black;   
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    bottom: 70px;
    width: 16.5%;
    
 
  }
  
  .user-options a {

    display: block;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;

  }
  #profile-image {
    width: 30px; /* Defina o tamanho adequado para a imagem */
    height: 30px;
    border-radius: 30%; /* Para tornar a imagem circular, ajuste o valor conforme necessário */
    margin-right: 10px; /* Adicione margem à direita para separar a imagem do nome do usuário */
  }
  
  #username {
    flex: 1; /* Isso fará com que o nome do usuário ocupe o espaço restante disponível */
    color: white;
    text-align: left;
  }
  /*conteudo principal*/
  #content {
    
    flex: 1;
    background-color:rgba(38, 41, 72);/*#343541;*/
    height: 100vh;
    width: 83.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 50px;

  }
  #sidebar-toggle{
    background-color: transparent ! important;
    width: fit-content;
    border: none;
    cursor: pointer;
    color: #ececf1;
    margin-top: 25px;

  }
  #content h1{
    font-size: 2.25rem;
    color: #ECECF1;
    font-weight: bold;
    margin: auto;
    margin-top: 80px;


  }
  
  #play-chat{
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 10%;
    padding: 0 1% 0 1%;
    overflow: auto;
  }
  .system-message{
    display: flex;
    flex-direction: row;
    background-color: rgba(132, 129, 134, 0.5); /* Vermelho com 50% de transparência */
    border-radius: 5px;
    padding: 0 1% 0 1%;
    align-items: center;
    justify-content: flex-end;
    margin: 7px 0 7px 0; 
  }
  .system-message img {
    /* Posicionando a imagem absolutamente em relação à div .system-message */
    top: 10px; /* Posição vertical da imagem */
    right: 10px; /* Posição horizontal da imagem */
    width: 60px; /* Largura da imagem */
    height: 60px; /* Altura da imagem */
    margin-left: 20px;
   
  }

  .user-message{
    display: flex;
    flex-direction: row;    
    border-radius: 5px;
    padding: 0 1% 0 1%;
    margin: 7px 0 7px 0;
    align-items: center;
    /* justify-content: space-between; */
  }
  .user-message img {
    /* Posicionando a imagem absolutamente em relação à div .system-message */
    top: 10px; /* Posição vertical da imagem */
    right: 10px; /* Posição horizontal da imagem */
    width: 60px; /* Largura da imagem */
    height: 60px; /* Altura da imagem */
    margin-right: 20px;
    border-radius: 10%;
   
  }

  #sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin: auto;

  }
  
  .section {
    flex: 1;   
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    
  }
  
  .section h2 {
    font-size: 1.125rem;
    color: #ECECF1;
    margin-bottom: 25px;
    padding-top: 5px;

  }

 
  
  .section ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }
  
  .section li {
    width: 230px;
    height: 64px;
    margin-bottom: 10px;
  }
  
  .section a {
    display: inline-block;
    padding: 10px;
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: #40414f;
    color: #ECECF1;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    /*cursor: pointer;*/
    transition: background-color 0.2s ease;
  }
  /*
  .section a:hover {
    background-color: #2c0144;
  }
  */
  /*div que contem a textarea*/
  #message-box { 
    display: flex;
    flex-direction: row;
    background-color: #40414f;
    width: 80%;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
    margin: 20px 20px 40px 120px;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    margin-top: auto;
    justify-content: space-between;
    
    
  }

  #send-button{
    background-color: transparent ! important;
    width: fit-content;
    border: none;
    cursor: pointer;
    color: #ececf1;
    margin: 15px;
  }
  /*textarea id="message-input"*/

  #message-input{
    background-color: #40414f;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;  
    padding: 12px;
    color: white;
    font-size: 1.25em;

  }
  

  